@import "./base.css";
body, html, #app {
  font-family: 'Inter', sans-serif;
}

.el-dialog {
  border-radius: 12px !important; /* sửa giá trị theo ý bạn */
    position: fixed !important;   /* luôn trên viewport */
  top: 50% !important;          /* từ trên xuống 50% */
  left: 50% !important;         /* từ trái sang 50% */
  transform: translate(-50%, -50%) !important; /* căn giữa chính xác */
  margin: 0 !important;         /* xóa margin mặc định */
}
.text-underline {
  text-decoration: underline;
  color: #1F67FF;
}
.box-left__content .book-card img
{
border: 2px solid rgb(228, 231, 236);
border-radius: 10px;
}
/* Optional: max width & responsive */

.bg-gray
{
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 20px 0 50px 0;
  border: solid 1px #E4E7EC;
}
.el-tabs__content, 
.el-tab-pane {
  height: 100%;  /* chiếm toàn bộ chiều cao của tab content */
}

/* Nếu muốn cả header và footer cũng bo tròn */
.el-dialog__header,
.el-dialog__footer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.py-10
{
  padding-top: 80px;
  padding-bottom: 80px;
}
.pt-100
{
  padding-top: 100px;
}
.text-18
{
  font-size: 18px;
}
.text-16
{
  font-size: 16px;
}
.text-24
{
  font-size: 24px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.hover_link:hover
{
  cursor: pointer;
}
.text-color_primary {
  color: #344054;
}
.text-color__tertiary {
  color: #667085
}
.text-secondary
{
 color: #667085;
}
.color-alert {
  color: #bf2c24;
}
.color-layout {
  background: #f7f6f2;
}
.color-gray {
  color: #c6c4c4;
}
.color-light-gray {
  color: #667085;
}
.color-yellow {
  color: #fc6c28;
}
.color-blue {
  color: #0060bf;
}
.color-light-blue {
  color: #1f84d7;
}
.text-md {
  font-size: 14px;
}
.text-20
{
  font-size: 20px;
}
.text-16
{
  font-size: 16px;
}
.text-sm {
  font-size: 12px;
}
.text-lg {
  font-size: 20px;
}
.text-2md
{
  font-size: 18px;
}
.text-xlg {
  font-size: 24px;
}
.color-red {
  color: #bf2c24;
}
.bg-red {
  background: #bf2c24;
}
.btn-alert__rounded {
  border: none;
  background: linear-gradient(to left, #E60000, #FF6114);
  color: white;
  border-radius: 50px;
  padding: 7px 20px;
  font-weight: 700;
}
.btn-alert__rounded:hover
{
  cursor: pointer;
}
.btn-outline-primary
{
  border: solid 1px #344054;
  border-radius: 20px;
  padding: 8px 20px;
  background: none;
  color: #344054;
}
.btn-outline-primary:hover
{
  background-color: #344054;
  cursor: pointer;
  color: #fff;
}
.btn-outline {
  border: solid 1px #3f5a93;
  border-radius: 20px;
  padding: 8px 20px;
  background: none;
  color: #3f5a93;
}
.btn-outline:hover {
  background-color: #3f5a93;
  cursor: pointer;
  color: #fff;
}
.btn-outline__alert {
  border: solid 1px #ff6114;
  border-radius: 20px;
  padding: 8px 20px;
  background: none;
  color: #ff6114;
}
.btn-alert {
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
    background: linear-gradient(to right, #E60000, #FF6114);
  color: #fff;
}
.btn-success {
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
    background: linear-gradient(to right, #29DF9F, #0CA876);
  color: #fff;
}
.btn-success:hover {
  cursor: pointer;
  background: #0ca977;
}
.btn-outline__alert:hover {
  background: #ff6114;
  color: #fff;
  cursor: pointer;
}
.btn-alert:hover {
  cursor: pointer;
  background: #e60000;
}
.text-link
{
  color: #e60000;
  font-weight: bold;
}
.text-link:hover{
  cursor: pointer;
}
.text-link_alert:hover{
    color: #ff6114;
    cursor: pointer;
}
.border-b
{
  border-bottom: solid 1px #344054;
 
}
.hover-link:hover
{
   color: #FC6C28;
   cursor: pointer;
}
.text-one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* số dòng muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hover-pointer:hover
{
  cursor: pointer;
}
.btn-no-pointer {
  cursor: default !important;
}
.ql-editor strong,
.ql-editor b {
  font-weight: bold !important;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 768px) {
  /* Bỏ margin âm của .row */
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }


  /* Nếu muốn full-width nhưng vẫn căn lề */
  .container {
    padding-left: 10px;  /* tùy chỉnh theo mobile */
    padding-right: 10px;
  }
    .mobile-center {
    justify-content: center !important;
  }
}